﻿@model DiceBazar.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<div class="form-horizontal">
    <h3>Book Details</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Product.Id)

    <fieldset disabled>
        <div class="row" style="border:1px solid #bbb9b9; border-radius:5px;padding-top:25px;">
            <div class="col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.CategoryId, "CategoryId", htmlAttributes: new { @class = "Control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Product.CategoryId, new SelectList(Model.Categories, "Id", "Name"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Product.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <div class="form-group">
        <div class="col-md-10">
            @Html.Partial("_EditButtonPartial", Model.Product.Id)
            @Html.Partial("_BackToListButtonPartial")
        </div>
    </div>
</div>
