﻿@model DiceBazar.Models.Category
@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h3>Are You sure want to delete this category?</h3>
        <hr />
        <div class="form-border">
            <fieldset disabled>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>               
            </fieldset>
        </div>
    </div>
    <br />
    <div>
        @Html.Partial("_BackToListButtonPartial")
        <input type="submit" value="Delete" class="btn btn-sm btn-danger"/>
    </div>
}
