﻿@model IEnumerable<DiceBazar.Models.Category>
    @using DiceBazar.Models
@{
    ViewBag.Title = "Index";
}

<h2>Category</h2>

@Html.Partial("_CreateButtonPartial")
<br /><br />
<table class="table table-condensed table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(m => m.Name)</th>
        <th>@Html.DisplayNameFor(m => m.Description)</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Description)
            </td>
            <td>
                @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { CategoryId = item.Id})
            </td>
        </tr>
    }
</table>

