﻿@model DiceBazar.Models.IndividualButtonPartial
@using DiceBazar.Models

<td style="width:400px;">
    <div class="btn-group" role="group">
        @Html.Partial("_IndividualButtonPartial",
           new IndividualButtonPartial
           {
               Action = "Edit",
               ButtonType = "btn-primary",
               Glyph = "pencil",
               Text = "Edit Button",
               CategoryId = Model.CategoryId,
               ProductId = Model.ProductId
               
           })
        @Html.Partial("_IndividualButtonPartial",
           new IndividualButtonPartial
           {
               Action = "Details",
               ButtonType = "btn-success",
               Glyph = "list",
               Text = "Details Button",
               CategoryId = Model.CategoryId,
               ProductId = Model.ProductId


           })
        @Html.Partial("_IndividualButtonPartial",
           new IndividualButtonPartial
           {
               Action = "Delete",
               ButtonType = "btn-danger",
               Glyph = "trash",
               Text = "Delete Button",
               CategoryId = Model.CategoryId,
               ProductId = Model.ProductId


           })
    </div>
</td>

